#foticoTwins{
    width: 25vw;
}
h1{
    font:xx-large;
    color: #520a0a;
}
#escena2 {
    background-image: url(/assets/ceestial\ wallpaper.jpg)
}
#H1e2{
    background-color: rgba(240, 248, 255, 0.541);
    width: 10vw;
}
img {
    width: 50vw;
}