.bg{
    background-image: url(https://i.pinimg.com/736x/62/26/9b/62269b480494fe6930f9645baa8bfbac.jpg)
}
h1{
    color: rgb(124, 96, 76);
    -webkit-text-stroke: 1px rgba(60, 15, 70, 0.582);
    display:flex;
    justify-content: center;
    align-items: center;
}
div {
    width: 70vw;
    height: 40vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postit{
    width: 40vw;
    height: 25vw;
    background-color: rgb(244, 228, 249);
    border-radius:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.links{
    width: 8vw;
    height:4vw;
    background-color: rgb(32, 23, 66);
    border: 1px solid transparent;
    border-radius:5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color:rgb(231, 220, 238);
}
.DenimStar {
    width:13vw;
     display: flex;
    justify-content: right;
    align-items: right;
    border-radius:10%;
}

.DenimFlower {
    width:13vw;
     display: flex;
    justify-content: center;
    align-items: left;
    border-radius: 10%;
}
.textico{
    width: 40vw;
    height: 4vw;
    background-color: rgb(232, 228, 249);
    color: rgb(32, 23, 66);
    border-radius:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.formato{
    margin:1vw;
    width: 60vw;
    height:25vw
}
ul,ol{
    list-style-type: none;
}
.nav li .imagenesFormato{
width:13vw;
height:17vw;
border-radius: 10%;
margin-left: 1vw;
display: block;
}
.nav > li{
    float: left;
}
#data{
    width:9vw;
    height:3vw;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 196, 255);
}
.nav li ul{
    display:none ;
    position: absolute;
}
.nav li:hover > ul{
    display: block;
}